# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=db_name

# Connection string used by the app.
# Host is the db service name on the docker network.
DATABASE_URL=postgres://postgres:changeme@ink-boat_db:5432/db_name
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
BETTER_AUTH_SECRET=